# Only for Docker Deployment

BOT_TOKEN=5403700773:AAF58vkB7-9K2J9IQ3ZzxT8TWPJIcwD4z7Y

API_ID=3617866

API_HASH=1ffd9f7a387487cfedeb7d6e58543e1e

SUDO_USERS_ID=1383624879 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001335947029

GBAN_LOG_GROUP_ID=-1001335947029

MESSAGE_DUMP_CHAT=-1001335947029

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://Central:D2pUtDiQc8v0Rync@cluster0.aktkn.mongodb.net/?retryWrites=true&w=majority

ARQ_API_URL=https://thearq.tech # Leave it like this

ARQ_API_KEY=DYWDFH-IQVVFO-ZJBQIZ-JWTUGD-ARQ # Get it from @ARQRobot

RSS_DELAY=300 # In seconds

UPSTREAM_REPO = "https://github.com/ImagineMeHere/CentralRobot.git"
